body {
  background-color: hsl(212, 45%, 89%);
  font-family: Outfit;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  place-content: center;
}

.container {
  background-color: white;
  width: 330px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 7px 7px 25px rgba(0, 0, 0, 0.1);
}

img {
  width: 300px;
  border-radius: 10px;
}

.qr-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 700;
}

p {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 300;
  color: rgb(100, 100, 100);
}
